
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Jaldi:700,400' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="../static/css/reset.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="../static/css/query.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="../static/js/modernizr.js"></script>
	
	<title>Advanced Database Mongodb</title>
</head>
<body>

	<section class="cd-slider-wrapper">
		<ul class="cd-slider">
			<li class="visible">
				<div>
					<h2>Mongodb</h2>
					<p>数据库小组作业展示</p>
				</div>
			</li>
			
			<li>
				<div>
					<h2>查询用户观影信息 {{ question1 }}</h2>
					<div class="UserQuery">
					<form id ="form_q1">
						<div class="form-group">
						  <label for="UserID">用户ID</label>
						  <input name='userID' class="form-control" id="UserID" >
						  <small id="q1Help" class="form-text text-muted">根据用户ID，搜索用户所看到的电影名字和评分</small>
						  <button id="btn_q1" type="" class="btn btn-primary" onclick="query1()">Submit</button>
						</div>
					  </form>
					<div>
					<div id="result_q1" class="pre-scrollable table-responsive" style="height:200px; overflow:auto" >
					</div>
					
				</div>
			</li>

			<li>
				<div>
					<h2>搜索关键词电影</h2>
					<div class="UserQuery">
						<form>
							<div class="form-group">
							  <label for="KeyWord">用户ID</label>
							  <input type="email" class="form-control" id="KeyWord" aria-describedby="emailHelp" placeholder="Enter email">
							  <small id="q2Help" class="form-text text-muted">根据用户ID，搜索用户所看到的电影名字和评分</small>
							</div>
							<button type="submit" class="btn btn-primary">Submit</button>
						  </form>
					<div>
				</div>
			</li>

			<li>
				<div>
					<h2>查询最受欢迎的电影</h2>
					<div class="UserQuery">
						<form>
							<div class="form-group">
							  <label for="Style">风格</label>
							  <input type="email" class="form-control" id="Style" aria-describedby="emailHelp" placeholder="Enter email">
							  <small id="q3Help" class="form-text text-muted">查询某一风格最受欢迎的20部电影</small>
							</div>
							<button type="submit" class="btn btn-primary">Submit</button>
						  </form>
					<div>
				</div>
			</li>
		</ul> <!-- .cd-slider -->
		
		<ol class="cd-slider-navigation">
			<li class="selected"><a href="#0"><em>首页</em></a></li>
			<li><a href="#0"><em>Item 1</em></a></li>
			<li><a href="#0"><em>Item 2</em></a></li>
			<li><a href="#0"><em>Item 3</em></a></li>
		</ol> <!-- .cd-slider-navigation -->
		
		<div class="cd-svg-cover" data-step1="M1402,800h-2V0.6c0-0.3,0-0.3,0-0.6h2v294V800z" data-step2="M1400,800H383L770.7,0.6c0.2-0.3,0.5-0.6,0.9-0.6H1400v294V800z" data-step3="M1400,800H0V0.6C0,0.4,0,0.3,0,0h1400v294V800z" data-step4="M615,800H0V0.6C0,0.4,0,0.3,0,0h615L393,312L615,800z" data-step5="M0,800h-2V0.6C-2,0.4-2,0.3-2,0h2v312V800z" data-step6="M-2,800h2L0,0.6C0,0.3,0,0.3,0,0l-2,0v294V800z" data-step7="M0,800h1017L629.3,0.6c-0.2-0.3-0.5-0.6-0.9-0.6L0,0l0,294L0,800z" data-step8="M0,800h1400V0.6c0-0.2,0-0.3,0-0.6L0,0l0,294L0,800z" data-step9="M785,800h615V0.6c0-0.2,0-0.3,0-0.6L785,0l222,312L785,800z" data-step10="M1400,800h2V0.6c0-0.2,0-0.3,0-0.6l-2,0v312V800z">
			<svg height='100%' width="100%" preserveAspectRatio="none" viewBox="0 0 1400 800">
				<title>SVG cover layer</title>
				<desc>an animated layer to switch from one slide to the next one</desc>
				<path id="cd-changing-path" d="M1402,800h-2V0.6c0-0.3,0-0.3,0-0.6h2v294V800z"/>
			</svg>
		</div>

	</section> <!-- .cd-slider-wrapper -->

<script src="../static/js/jquery-2.1.4.js"></script>
<script src="../static/js/snap.svg-min.js"></script>
<script src="../static/js/main.js"></script> <!-- Resource jQuery -->
<script src="../static/js/query.js"></script> 
</body>
</html>