<table class="table pre-scrollable" >
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">name</th>
        <th scope="col">Score</th>
        <th scope="col">tag</th>
      </tr>
    </thead>
    <tbody>
        {% for item in data %}
        <tr>
                <th scope="row">{{ item.num }}</th>
                <td>{{ item.name }}</td>
                <td>{{ item.score }}</td>
                <td>
                        {% for t in item.tags %}
                        <button type="button" class="btn btn-outline-info">{{ t.tag }}:{{ t.relevance }}</button>
                        {% endfor %}	
                </td>
        </tr>
      {% endfor %}				
    </tbody>
</table>